@media all and (min-width: 1200px) {
  .g365_manage_wrapper .medium-6 {
    width: 50%;
  }
}
.g365_manage_wrapper .inline {
	display: inline;
}
.g365_manage_wrapper .in-block {
	display: inline-block;
}
.g365_manage_wrapper .text-left {
  text-align: left;
}
.g365_manage_wrapper .text-right {
  text-align: right;
}
.g365_manage_wrapper .text-center {
  text-align: center;
}
.g365_manage_wrapper [type='radio']+label.block,
.g365_manage_wrapper .block {
	display: block;
}
.g365_manage_wrapper .widget-wrapper .no-margin-top {
	margin-top: 0;
}
.g365_manage_wrapper .no-margin-bottom,
.g365_manage_wrapper input.no-margin-bottom {
	margin-bottom: 0;
}
.g365_manage_wrapper .no-border,
.g365_manage_wrapper div.no-border {
	border: none;
}
.g365_manage_wrapper .relative {
	position: relative;
}
.g365_manage_wrapper .no-input-margin .ls_result_div table,
.g365_manage_wrapper .maximum-width {
	width: 100%;
}
.g365_manage_wrapper .max-width {
	max-width: 100%;
}
.g365_manage_wrapper .maximum-height {
	height: 100%;
}
.g365_manage_wrapper .pointer {
	cursor: pointer;
}
.g365_manage_wrapper .dropdown-pane table {
	width: 100%;
}
.g365_manage_wrapper label {
  display: block;
  padding-bottom: 10px;
  line-height: 1.2;
}
.g365_manage_wrapper .tabs.green-border,
.g365_manage_wrapper .green-border,
.g365_manage_wrapper .gset {
	border: $secondary-color solid 1px;
}
.g365_manage_wrapper .green-border-bottom {
	border-bottom: $secondary-color solid 1px;
}
.g365_manage_wrapper .ghost-white-bg {
	background: rgba($white, 0.2);
}
.g365_manage_wrapper .dk-bkgd,
.g365_manage_wrapper .gset {
	background: linear-gradient(176deg, $primary-color 10%, #0f1c34 42%);
	color: $white;
}
.g365_manage_wrapper #g365_form_wrap .gset h1,
.g365_manage_wrapper #g365_form_wrap .gset h2,
.g365_manage_wrapper #g365_form_wrap .gset h3,
.g365_manage_wrapper #g365_form_wrap .gset h4,
.g365_manage_wrapper #g365_form_wrap .gset h5,
.g365_manage_wrapper .gset a,
.g365_manage_wrapper .gset h1,
.g365_manage_wrapper .gset h2,
.g365_manage_wrapper .gset h3,
.g365_manage_wrapper .gset h4,
.g365_manage_wrapper .gset h5,
.g365_manage_wrapper .gset label {
	color: $white;
}
.g365_manage_wrapper #g365_form_wrap .gset h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 10px;
}

.g365_manage_wrapper .gset a:hover {
	color: $secondary-color;
}
.g365_manage_wrapper .gset .button {
  background: none;
  color: $secondary-color;
}
.g365_manage_wrapper .gset .button:hover {
  color: $primary-color;
}
.g365_manage_wrapper .gset .input-group-label {
  border-color: $white;
  color: $secondary-color;
}
.g365_manage_wrapper .close-button { //large black, for 'X'
	right: 4px;
	top: 4px;
	font-size: 2em;
	line-height: 0.9;
  padding-bottom: 0.3rem;
	cursor: pointer;
	width: 36px;
	border: lighten($black, 20%) solid 1px;
	background: $black;
}


//margins and paddings
.g365_manage_wrapper .xlarge-margin {
	margin: $global-padding*2;
}
.g365_manage_wrapper .large-margin {
	margin: $global-padding+.6;
}
.g365_manage_wrapper .medium-margin {
	margin: $global-padding;
}
.g365_manage_wrapper .small-margin {
	margin: $global-padding/2;
}
.g365_manage_wrapper .tiny-margin {
	margin: $global-padding/4;
}
.g365_manage_wrapper .no-margin {
	margin: 0;
}

.g365_manage_wrapper .xlarge-margin-top {
	margin-top: $global-margin*2;
}
.g365_manage_wrapper .large-margin-top {
	margin-top: $global-margin+.6;
}
.g365_manage_wrapper .medium-margin-top {
	margin-top: $global-margin;
}
.g365_manage_wrapper .small-margin-top {
	margin-top: $global-margin/2;
}
.g365_manage_wrapper .tiny-margin-top {
	margin-top: $global-margin/4;
}
.g365_manage_wrapper .no-margin-top {
	margin-top: 0;
}

.g365_manage_wrapper .xlarge-margin-bottom {
	margin-bottom: $global-margin*2;
}
.g365_manage_wrapper .large-margin-bottom {
	margin-bottom: $global-margin+.6;
}
.g365_manage_wrapper .medium-margin-bottom {
	margin-bottom: $global-margin;
}
.g365_manage_wrapper .small-margin-bottom {
	margin-bottom: $global-margin/2;
}
.g365_manage_wrapper .tiny-margin-bottom {
	margin-bottom: $global-margin/4;
}
.g365_manage_wrapper .no-margin-bottom {
	margin-bottom: 0;
}

.g365_manage_wrapper .xlarge-margin-left {
	margin-left: $global-padding*2;
}
.g365_manage_wrapper .large-margin-left {
	margin-left: $global-padding+.6;
}
.g365_manage_wrapper .medium-margin-left {
	margin-left: $global-padding;
}
.g365_manage_wrapper .small-margin-left {
	margin-left: $global-padding/2;
}
.g365_manage_wrapper .tiny-margin-left {
	margin-left: $global-padding/4;
}
.g365_manage_wrapper .no-margin-left {
	margin-left: 0;
}

.g365_manage_wrapper .xlarge-margin-right {
	margin-right: $global-padding*2;
}
.g365_manage_wrapper .large-margin-right {
	margin-right: $global-padding+.6;
}
.g365_manage_wrapper .medium-margin-right {
	margin-right: $global-padding;
}
.g365_manage_wrapper .small-margin-right {
	margin-right: $global-padding/2;
}
.g365_manage_wrapper .tiny-margin-right {
	margin-right: $global-padding/4;
}
.g365_manage_wrapper .no-margin-right {
	margin-right: 0;
}

.g365_manage_wrapper .xlarge-margin-sides {
	margin-left: $global-margin*2;
	margin-right: $global-margin*2;
}
.g365_manage_wrapper .large-margin-sides {
	margin-left: $global-margin+.6;
	margin-right: $global-margin+.6;
}
.g365_manage_wrapper .medium-margin-sides {
	margin-left: $global-margin;
	margin-right: $global-margin;
}
.g365_manage_wrapper .small-margin-sides {
	margin-left: $global-margin/2;
	margin-right: $global-margin/2;
}
.g365_manage_wrapper .tiny-margin-sides {
	margin-left: $global-margin/4;
	margin-right: $global-margin/4;
}
.g365_manage_wrapper .no-margin-sides {
	margin-left: 0;
	margin-right: 0;
}
.g365_manage_wrapper .auto-margin-sides {
	margin-left: auto;
	margin-right: auto;
}

.g365_manage_wrapper .xlarge-padding {
	padding: $global-padding*2;
}
.g365_manage_wrapper .large-padding {
	padding: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding {
	padding: $global-padding;
}
.g365_manage_wrapper .small-padding {
	padding: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding {
	padding: $global-padding/4;
}
.g365_manage_wrapper .no-padding {
	padding: 0;
}

.g365_manage_wrapper .xlarge-padding-bottom {
	padding-bottom: $global-padding*2;
}
.g365_manage_wrapper .large-padding-bottom {
	padding-bottom: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding-bottom {
	padding-bottom: $global-padding;
}
.g365_manage_wrapper .small-padding-bottom {
	padding-bottom: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding-bottom {
	padding-bottom: $global-padding/4;
}
.g365_manage_wrapper .no-padding-bottom {
	padding-bottom: 0;
}

.g365_manage_wrapper .xlarge-padding-top {
	padding-top: $global-padding*2;
}
.g365_manage_wrapper .large-padding-top {
	padding-top: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding-top {
	padding-top: $global-padding;
}
.g365_manage_wrapper .small-padding-top {
	padding-top: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding-top {
	padding-top: $global-padding/4;
}
.g365_manage_wrapper .no-padding-top {
	padding-top: 0;
}

.g365_manage_wrapper .xlarge-padding-left {
	padding-left: $global-padding*2;
}
.g365_manage_wrapper .large-padding-left {
	padding-left: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding-left {
	padding-left: $global-padding;
}
.g365_manage_wrapper .small-padding-left {
	padding-left: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding-left {
	padding-left: $global-padding/4;
}
.g365_manage_wrapper .no-padding-left {
	padding-left: 0;
}

.g365_manage_wrapper .xlarge-padding-right {
	padding-right: $global-padding*2;
}
.g365_manage_wrapper .large-padding-right {
	padding-right: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding-right {
	padding-right: $global-padding;
}
.g365_manage_wrapper .small-padding-right {
	padding-right: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding-right {
	padding-right: $global-padding/4;
}
.g365_manage_wrapper .no-padding-right {
	padding-right: 0;
}

.g365_manage_wrapper .xlarge-padding-sides {
	padding-left: $global-padding*2;
	padding-right: $global-padding*2;
}
.g365_manage_wrapper .large-padding-sides {
	padding-left: $global-padding+.6;
	padding-right: $global-padding+.6;
}
.g365_manage_wrapper .medium-padding-sides {
	padding-left: $global-padding;
	padding-right: $global-padding;
}
.g365_manage_wrapper .small-padding-sides {
	padding-left: $global-padding/2;
	padding-right: $global-padding/2;
}
.g365_manage_wrapper .tiny-padding-sides {
	padding-left: $global-padding/4;
	padding-right: $global-padding/4;
}
.g365_manage_wrapper .no-padding-sides {
	padding-left: 0;
	padding-right: 0;
}
.g365_manage_wrapper .green {
	color: $success-color;
}
.g365_manage_wrapper .gset .color-prime,
.g365_manage_wrapper .color-prime {
	color: $primary-color;
}
.g365_manage_wrapper a.single_add_to_cart_button {
    height: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    font-size: 1rem;
}
.g365_manage_wrapper .gset .name-emphasis {
  background: $secondary-color;
  line-height: 1;
  border: 4px double $white;
  color: $primary-color;
  padding-bottom: $global-padding/8;
}

.g365_manage_wrapper .color-second {
	color: $secondary-color;
}
.g365_manage_wrapper .cute {
	font-size: 0.85rem;
}
.g365_manage_wrapper .loud {
  font-size: 1.2rem;
}
.g365_manage_wrapper .louder {
  font-size: 1.4rem;
}
.g365_manage_wrapper .loudest {
  font-size: 1.6rem;
}
.g365_manage_wrapper .count_totals {
  color: $light-gray;
  font-weight: 500;
}
.g365_manage_wrapper .emphasis {
  font-weight: 700;
}
.g365_manage_wrapper .name-emphasis {
  border-bottom: 1px dashed $secondary-color;
}
.g365_manage_wrapper .vertical-padding {
	padding-top: $global-margin/2;
	padding-bottom: $global-margin/2;
}

.g365_manage_wrapper .ls_container a.button span.float-right {
	font-size: 1rem;
  margin-left: 10px;
}
.g365_manage_wrapper .ls_result_div .button {
  text-align: left;
}
.g365_manage_wrapper .ls_result_div .button.expanded {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0
}
.g365_manage_wrapper .center-result .ls_result_div .button {
  text-align: center;
}
.g365_manage_wrapper .hide {
  display: none;
}
.g365_manage_wrapper .no-input-margin .g365_livesearch_input[type='text'],
.g365_manage_wrapper .no-input-margin .ls_result_div table {
  margin: 0;
}
.g365_manage_wrapper .ls_result_div.no-add-buttons .g365_add_button {
  display: none;
}

.g365_manage_wrapper .search{
  background: none;
}

//form
.g365_manage_wrapper [type='text'],
.g365_manage_wrapper [type='password'],
.g365_manage_wrapper [type='date'],
.g365_manage_wrapper [type='datetime'],
.g365_manage_wrapper [type='datetime-local'],
.g365_manage_wrapper [type='month'],
.g365_manage_wrapper [type='week'],
.g365_manage_wrapper [type='email'],
.g365_manage_wrapper [type='number'],
.g365_manage_wrapper [type='search'],
.g365_manage_wrapper [type='tel'],
.g365_manage_wrapper [type='time'],
.g365_manage_wrapper [type='url'],
.g365_manage_wrapper [type='color'],
.g365_manage_wrapper textarea {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 $global-padding/2;
  padding: $global-padding/4;
  border: 1px solid $light-gray;
  border-radius: 0;
  background-color: $white;
  -webkit-box-shadow: inset 0 1px 2px rgba($dark-gray,0.2);
  box-shadow: inset 0 1px 2px rgba($dark-gray,0.2);
  font-family: inherit;
  font-size: $global-font-size;
  font-weight: normal;
  color: $primary-color;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
  appearance: none;
}
.g365_manage_wrapper select {
  width: 100%;
  height: 2.4375rem;
  margin: 0 0 $global-padding/2;
  padding: $global-padding/4;
  appearance: none;
  border: 1px solid $light-gray;
  border-radius: 0;
  background-color: $white;
  font-family: inherit;
  font-size: $global-font-size;
  line-height: normal;
  color: $primary-color;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28138, 138, 138%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: box-shadow 0.5s,border-color 0.25s ease-in-out;
}
.g365_manage_wrapper .no-input-margin>.button,
.g365_manage_wrapper .no-input-margin>[type='text'],
.g365_manage_wrapper .no-input-margin>[type='password'],
.g365_manage_wrapper .no-input-margin>[type='date'],
.g365_manage_wrapper .no-input-margin>[type='datetime'],
.g365_manage_wrapper .no-input-margin>[type='datetime-local'],
.g365_manage_wrapper .no-input-margin>[type='month'],
.g365_manage_wrapper .no-input-margin>[type='week'],
.g365_manage_wrapper .no-input-margin>[type='email'],
.g365_manage_wrapper .no-input-margin>[type='number'],
.g365_manage_wrapper .no-input-margin>[type='search'],
.g365_manage_wrapper .no-input-margin>[type='tel'],
.g365_manage_wrapper .no-input-margin>[type='time'],
.g365_manage_wrapper .no-input-margin>[type='url'],
.g365_manage_wrapper .no-input-margin>[type='color'],
.g365_manage_wrapper .no-input-margin>textarea,
.g365_manage_wrapper .no-input-margin>select,
.g365_manage_wrapper .no-input-margin .g365_livesearch_input[type='text'],
.g365_manage_wrapper .no-input-margin .ls_result_div table {
  margin: 0;
}
.g365_manage_wrapper option:disabled {
  background: $medium-gray;
  color: $white;
}
.g365_manage_wrapper .form-disabled {
  background: $light-gray;
}
.g365_manage_wrapper .form-disabled .hide-on-disable,
.g365_manage_wrapper .ls_result_div.no-add-buttons .g365_add_button {
  display: none;
}
.g365_manage_wrapper .form-disabled.form-collapse-title small {
  background: $medium-gray;
  color: $dark-gray;
}
.g365_manage_wrapper .form-disabled.green-border {
  border-color: $medium-gray;
}
.g365_manage_wrapper .gset .form-disabled {
  opacity: 0.8;
}
.g365_manage_wrapper .gset .form-disabled label {
  color: $dark-gray;
}
.g365_manage_wrapper .gset .form-disabled .count_totals,
.g365_manage_wrapper .form-disabled .green {
  color: darken($medium-gray, 14%);
}
.g365_manage_wrapper .req {
  color: $alert-color;
}

.g365_manage_wrapper .ls_result_div table.unstriped tbody tr:first-child td a {
    margin-top: $global-margin/4 + 0.2;
}
.g365_manage_wrapper .g365_form_wrap .error {
  color: get-color(alert);
}
.g365_manage_wrapper .g365_form_wrap li.error_item {
  margin: 10px 0;
  padding: 10px 0 2px 10px;
  border-top: $white dotted 2px;
  border-bottom: $white dotted 2px;
  background: lighten(get-color(alert), 30%);
}
.g365_manage_wrapper .g365_form_wrap .error_wrapper>.gset,
.g365_manage_wrapper .g365_form_wrap .error_wrapper .green-border {
  border-color: $alert-color;
}
.g365_manage_wrapper .g365_form_wrap .error_parent {
  border: 1px solid $alert-color;
}
.g365_manage_wrapper .g365-expand-collapse-fieldset {
  cursor: pointer;
}
.g365_manage_wrapper .g365-expand-collapse-fieldset a {
  margin-bottom: $global-margin/4 + 0.2;
  float: right;
  padding: $global-margin/8 $global-margin/4;
  font-size: 12px;
  line-height: 1;
  min-height: auto;
}
.g365_manage_wrapper .g365-close-button,
.g365_manage_wrapper .g365-close-button.button,
.g365_manage_wrapper .gset .g365-close-button,
.g365_manage_wrapper .gset .g365-close-button.button {
  color: #f00;
  border: #f00 solid 1px;
  line-height: 1;
}
.g365_manage_wrapper .g365-close-button:hover,
.g365_manage_wrapper .g365-close-button.button:hover,
.g365_manage_wrapper .gset .g365-close-button:hover,
.g365_manage_wrapper .gset .g365-close-button.button:hover {
  background: #f00;
  color: $primary-color;
}
.g365_manage_wrapper .remove-button,
.g365_manage_wrapper .remove-button.button {
  float: right;
  padding: 0.6rem;
  font-size: 0.8rem;
  margin-bottom: 0;
  line-height: 1;
}
.g365_manage_wrapper .g365-button+.g365-button {
  margin-right: 10px;
}
.g365_manage_wrapper .form-collapse-title small {
  color: $white;
  font-weight: 700;
  background: $secondary-color;
  padding: 1px 3px;
}
.g365_manage_wrapper .g365-form-data-wrapper>div+p {
  display: none;
}
.g365_manage_wrapper .button-list .remove-button {
  padding: 0.2em 0.4em;
}
.g365_manage_wrapper .button-list {
  list-style: none;
  counter-reset: listRowNumber;
  position: relative;
  margin-bottom: $global-margin/2;
}
.g365_manage_wrapper .button-list li {
}
.g365_manage_wrapper .button-list li:before {
  counter-increment: listRowNumber;
	content: counter(listRowNumber);
	position: absolute;
  margin-top: 6px;
  left: 0;
	background: $primary-color;
	color: $secondary-color;
	padding: 0px 7px;
	border-radius: 50%;
	border: $secondary-color solid 1px;
}
.g365_manage_wrapper .field-change-button .field-title {
    float: left;
}
.g365_manage_wrapper .field-change-button {
  background: lighten($secondary-color, 45%);
}
.g365_manage_wrapper .field-change-button .field-title {
  float: left;
}

.g365_manage_wrapper .field-change-button.locked-in {
  border-bottom: $light-gray dashed 1px;
  margin-bottom: $global-margin/4;
  padding-bottom: $global-padding/8;
}
.g365_manage_wrapper .gset .field-change-button {
  color: $primary-color;
}
.g365_manage_wrapper h3.section_title {
  line-height: 0.6;
  margin-bottom: 0;
  padding-top: $global-padding/4;
}
.g365_manage_wrapper .search-hero {
	font-size: 1.5rem;
	padding: 2rem 2rem 2rem 4rem;
	border-color: $secondary-color;
	box-shadow: inset 0 1px 2px $secondary-color;
}
.g365_manage_wrapper .search-mag {
	position: absolute;
	font-size: 2rem;
	margin: 0.7rem 0 0 1.25rem;
	color: $secondary-color;
	z-index: 10;
}
.g365_manage_wrapper .md-form {
	max-width: 100%;
	width: 600px;
	margin: 0 auto 1rem;
}

//input groups
.g365_manage_wrapper .input-group {
  display: flex;
  width: 100%;
  margin-bottom: $global-margin/2;
  align-items: stretch;
}
.g365_manage_wrapper .input-group-field {
  border-radius: 0;
  flex: 1 1 0px;
  height: auto;
  min-width: 0;
}
.g365_manage_wrapper .input-group>:first-child {
  border-radius: 0 0 0 0;
}
.g365_manage_wrapper .input-group-label:first-child {
  border-right: 0;
}
.g365_manage_wrapper .input-group-label,
.g365_manage_wrapper .input-group-field,
.g365_manage_wrapper .input-group-button,
.g365_manage_wrapper .input-group-button a,
.g365_manage_wrapper .input-group-button input,
.g365_manage_wrapper .input-group-button button,
.g365_manage_wrapper .input-group-button label {
  margin: 0;
  white-space: nowrap;
}
.g365_manage_wrapper .input-group-label {
  padding: 0 $global-padding/2;
  border: 1px solid $light-gray;
  background: $dark-gray;
  color: $black;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex: 0 0 auto;
  align-items: center;
}
.g365_manage_wrapper .button-list .input-group-label {
  background: none;
}
.g365_manage_wrapper .gset .input-group-label {
  border-color: $white;
  color: #00ff2a;
}
.g365_manage_wrapper .input-group-label.result-title {
  width: 60%;
}
.g365_manage_wrapper .input-group-field.jersey-input[type='number'] {
  width: 28%;
}
.g365_manage_wrapper .button-list .input-group-label.remove-button {
  width: 10%;
  padding-left: 3.5%;
  margin-left: 2%;
  border: none;
}

//buttons
.g365_manage_wrapper button,
.g365_manage_wrapper .button {
	text-transform: uppercase;
	border: $secondary-color solid 1px;
  font-family: "Archivo Narrow", sans-serif;
  white-space: normal;
  height: auto;
}
.g365_manage_wrapper .button.expanded {
  width: 100%;
}
.g365_manage_wrapper .button.expanded.alt {
  letter-spacing: 3px;
}
.g365_manage_wrapper .hover .button,
.g365_manage_wrapper .button:hover,
.g365_manage_wrapper button:hover {
	background-color: $secondary-color;
  color: $white;
}
.g365_manage_wrapper .gset .hover .button,
.g365_manage_wrapper .gset .button:hover,
.g365_manage_wrapper .gset button:hover,
.g365_manage_wrapper .gset .hover .button.g365-button,
.g365_manage_wrapper .gset .button.g365-button:hover,
.g365_manage_wrapper .gset button.g365-button:hover {
  color: $primary-color;
}
.g365_manage_wrapper button:focus,
.g365_manage_wrapper .button:focus {
	outline: none;
}
.g365_manage_wrapper .button.disabled,
.g365_manage_wrapper .button.disabled:hover,
.g365_manage_wrapper .button.disabled:focus,
.g365_manage_wrapper .button[disabled],
.g365_manage_wrapper .button[disabled]:hover,
.g365_manage_wrapper .button[disabled]:focus {
	background-color: $white;
}
.g365_manage_wrapper .button .dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: $black;
}
.g365_manage_wrapper .menu .is-active > a {
  background: $primary-color;
  color: $white;
}
.g365_manage_wrapper .button.text-left {
	text-align: left;
}
.g365_manage_wrapper .button.text-right {
	text-align: right;
}
.g365_manage_wrapper .social-button a {
	overflow: hidden;
	width: 22px;
}
.g365_manage_wrapper .social-button i:before {
	font-size: 22px;
}
.g365_manage_wrapper .menu>li.social-button>a img,
.g365_manage_wrapper .menu>li.social-button>a i,
.g365_manage_wrapper .menu>li.social-button>a svg {
	margin-right: 1rem;
}


.g365_manage_wrapper .form-table .ls_result_main td {
  padding: 0;
}